
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: aqua;
}

h1, h2 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: greenyellow;
}

h2 {
    color: orange;
}

.puff {
   font-size: 1.1rem;
   font-weight: bolder;
   border: 3px solid black;
}

img {
    max-width: 100%;
    height: auto;
  }

  